.navbar {
  background-color: #1f388a;
  overflow: hidden;
  border: #000000 solid 3px;
}

.navbar ul {
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #1f3e8f;
  color: rgb(181, 191, 255);
}
.header {
  background-color: rgb(24, 105, 186);
  padding: 20px;
  text-align: center;
  border: #000000 solid 3px;
  margin: 10px;
}
.p1 {
  background-color: #5f6fed;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}
.cards1 {
  display: flex;
  gap: 10px;
  border: #000000 solid 3px;
  margin: 10px;
  align-self: start;
  background-color: #5f6fed;
}

.cards1 > div {
  flex: 1;
}

.cards1 img {
  width: 100%;
  height: auto;
}
.cta1 {
  background-color: #5f6fed;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  justify-content: center;
}
.p2 {
  background-color: #5f6fed;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
body {
  background-color: rgb(158, 192, 250);
}
main {
  font-family: monospace;
  margin: 10px;
}
.infobox {
  padding: 10px;
  border: #000000 solid 2px;
  background-color: rgb(154, 204, 255);
  border-radius: 5px;
}
.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.categories a {
  padding: 10px;
  border: #000000 solid 2px;
  background-color: rgb(24, 105, 186);

  text-decoration: none;
  color: black;
}

.productContainer {
  padding: 20px;
  border: #000000 solid 2px;
  background-color: rgb(154, 204, 255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.productContainer img {
  width: 100%;
  height: auto;
}

.salelabel {
  font-weight: bold;
  color: red;
}
.productDetails {
  margin-top: 10px;
}
.productName {
  font-size: 1.5em;
  margin-bottom: 5px;
}
.articleType {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.productCategory {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.productPrice {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.displaynone {
  display: none;
}
